[submodule "client/enyo"]
	path = client/enyo
	url = https://github.com/enyojs/enyo.git
[submodule "client/lib/layout"]
	path = client/lib/layout
	url = https://github.com/enyojs/layout.git
[submodule "client/lib/onyx"]
	path = client/lib/onyx
	url = https://github.com/enyojs/onyx.git
[submodule "client/lib/enyo-ilib"]
	path = client/lib/enyo-ilib
	url = https://github.com/enyojs/enyo-ilib.git
