.onyx-button {
    border-color: transparent !important;
    box-shadow: none !important;
}

.line {
    fill: none;
}

.onyx-button:hover {
    /*background-color: rgba(255,255,255,0.3) !important;*/
    border: 1px solid rgba(179,179,179,0.5) !important;
}

.ajax-file-upload-container {
    display: none;
}
